*{
	box-sizing: border-box;
}

body{
	margin: 0;
	font-family: 'Dosis', sans-serif;

}

header{
	background: linear-gradient(135deg, #D8D6DB, #5A08D5);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

nav{
	position: sticky;
	top:0;
}

nav ul {
	display: flex;
	margin: 0;
	background-color: black;
	color: white;	
	padding-left: 0;
}

nav ul li{
	height: 50px;
	padding-top: 20px;
	width: 100%;
	list-style-type: none;
	text-align: center;
}

nav ul li a{
	color: white;
	text-decoration: none;
}

nav ul li a:hover{
	color: red;
}

#propos {
	padding-top: 50px;
	padding-bottom: 50px;
	/*background-color: #D1F0EA;*/
	/*height: 100vh;*/
}

#propos h2{
	text-align: center;
}

#propos div{
	display: flex;
	justify-content: space-around;
	align-items: center;
}

#propos img{
	height: 300px;
	border-radius: 50%;
}

#competence{
	padding-top: 50px;
	/*height: 100vh;*/
	background: linear-gradient(135deg, #F3F8F9, #B4EBF7);
	padding-bottom: 50px;
}

#competence h2{
	text-align: center;
}

#competence div{
	width: 60%;
	margin-left:20%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

#competence img{
	height: 100px;
}

#competence figure{
	margin-right: 100px;
}

#competence figcaption{
	text-align: center;
}

#formation{
	padding-top: 50px;
	/*height: 100vh;*/
	padding-bottom: 50px;
}

#formation h2{
	text-align: center;
}

#formation ul{
	margin-top: 100px;
	padding-left: 0;
}

#formation ul li{
	list-style-type: none;
	text-align: center;
	margin-bottom: 100px;	
}

#experience {
	/*height: 100vh;*/
	background-color: #f0eff0;
	padding-bottom: 50px;
	padding-top: 50px;
}

#experience h2{
	text-align: center;
}

#experience ul{
	margin-top: 100px;
	padding-left:0;
}

#experience ul li{
	list-style-type: none;
	text-align: center;
	margin-bottom: 100px;
}

.content{
	border-bottom: 5px dotted ;
}
footer{
	text-align: center;
	padding:50px 0;
	justify-content: center;
	background: linear-gradient(135deg, #D8D6DB, #5A08D5); 
}

footer input{
	margin-left: 20px;
}